    /* CSS untuk menghilangkan logo tambah dan kurang pada input number */
input[type="tel"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="tel"] {
    -moz-appearance: textfield;
}

